:host {
  ::ng-deep {
    .p-menu {
      border: none;
      background-color: transparent;

      .p-submenu-header {
        background-color: transparent;
      }
    }

    .p-card-content {
      height: calc(100vh - 14rem);
    }
  }
}
